.bar {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.fnbarzone1 {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-content: center;
}

.filename {
  font-size: 20px;
  margin-left: 10px;
  align-content: center;
}
